<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="container">
			<h1 class="display-4 text-center">Robot control</h1>
			<div class="row justify-content-center" style="height: 150px">
				<div class="col-4"><button id="btn-forward" class="btn btn-primary w-100 h-100">Forward</button></div>
			</div>
			<div class="row justify-content-center mt-5" style="height: 150px">
				<div class="col-4"><button id="btn-left" class="btn btn-primary w-100 h-100">Left</button></div>
				<div class="col-4"><button id="btn-back" class="btn btn-primary w-100 h-100">Back</button></div>
				<div class="col-4"><button id="btn-right" class="btn btn-primary w-100 h-100">Right</button></div>
			</div>
			<div class="row justify-content-center mt-5">
				<div class="col-10">
					<label for="customRange1" class="form-label">Motor Speed</label>
					<input type="range" class="form-range" id="motorspeed" min="0" max="255" onchange="sendMessage(`motor:speed:${this.value}`)" />
				</div>
			</div>
            <div class="row justify-content-center mt-5">
				<div class="col-10">
					<label for="customRange1" class="form-label">Servo pincher</label>
					<input type="range" class="form-range" id="motorspeed" min="0" max="180" value="90" oninput="sendMessage(`servo:pincher:${this.value}`)" />
				</div>
			</div>
            <div class="row justify-content-center mt-1">
				<div class="col-10">
					<label for="customRange1" class="form-label">Servo Arm Yaw</label>
					<input type="range" class="form-range" id="motorspeed" min="0" max="180" value="90" oninput="sendMessage(`servo:armyaw:${this.value}`)" />
				</div>
			</div>
            <div class="row justify-content-center mt-1">
				<div class="col-10">
					<label for="customRange1" class="form-label">Servo Arm Ext</label>
					<input type="range" class="form-range" id="motorspeed" min="0" max="180" value="90" oninput="sendMessage(`servo:armext:${this.value}`)" />
				</div>
			</div>
            <div class="row justify-content-center mt-1" style="height: 150px">
				<div class="col-10">
					<label for="customRange1" class="form-label">Servo Arm Height</label>
					<input type="range" class="form-range" id="motorspeed" min="0" max="180" value="90" oninput="sendMessage(`servo:armheight:${this.value}`)" />
				</div>
			</div>
		</div>
		<script>
			var ws = new WebSocket("ws://localhost:8000/ws");

			function sendMessage(msg) {
				ws.send(msg);
			}

			document.querySelector("#btn-forward").addEventListener("mousedown", () => {
				console.log("down");
				sendMessage("motor:forward");
			});

			document.querySelector("#btn-forward").addEventListener("mouseup", () => {
				console.log("up");
				sendMessage("motor:stop");
			});

			document.querySelector("#btn-back").addEventListener("mousedown", () => {
				console.log("down");
				sendMessage("motor:backward");
			});

			document.querySelector("#btn-back").addEventListener("mouseup", () => {
				console.log("up");
				sendMessage("motor:stop");
			});

			document.querySelector("#btn-left").addEventListener("mousedown", () => {
				console.log("down");
				sendMessage("motor:left");
			});

			document.querySelector("#btn-left").addEventListener("mouseup", () => {
				console.log("up");
				sendMessage("motor:stop");
			});

			document.querySelector("#btn-right").addEventListener("mousedown", () => {
				console.log("down");
				sendMessage("motor:right");
			});

			document.querySelector("#btn-right").addEventListener("mouseup", () => {
				console.log("up");
				sendMessage("motor:stop");
			});
		</script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>
	</body>
</html>
